---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Inicio - GameLib">
	<main class="container mx-auto mt-8">
	  <h1 class="text-4xl font-bold mb-4">Bienvenido a GameLib</h1>
	  <p class="text-lg">Tu biblioteca personal de juegos.</p>
	</main>
</Layout>