---
import Navbar from '@/components/Navbar.astro';
import Footer from '@/components/Footer.astro';

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    
  </head>
  <body class="flex flex-col min-h-screen bg-gray-100 dark:bg-gray-900">
    <Navbar />
    <main class="flex-grow">
      <slot />
    </main>
    <Footer />
  </body>
</html>

<style>

    @view-transition {
      navigation: auto;
    }
  
    /* Estilos adicionales para transiciones */
    body {
      view-transition-name: fade;
    }
</style>

<script is:inline>
    function applyTheme() {
      const userTheme = localStorage.getItem('color-theme');
      const systemPreference = window.matchMedia('(prefers-color-scheme: dark)').matches ? 'dark' : 'light';

      if (userTheme === 'dark' || (!userTheme && systemPreference === 'dark')) {
        document.documentElement.classList.add('dark');
      } else {
        document.documentElement.classList.remove('dark');
      }
    }

    applyTheme();
  </script>